@media only screen and (max-width: 740px) {

  header img {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  #Wrapper {
    background: #f77;
    width:100%;
  }
  #info{
    display: initial;
  }
  #infoperso {
    background-color:#f77; ;
  }
}

@media only screen and (max-width: 570px) {
  header img {

    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #Wrapper {
    background: #7f7;
    width:100%; }
  #info{
    display: initial;
  }
  #infoperso {
    background-color:#7f7; ;
  }

}

@media only screen and (max-width: 480px) {

  section dl {
    margin-left:50px ;
    margin-right:50px ;
    text-align: left;
  }
  #Wrapper {
    background: #77f;
    margin-left: 5px;
    margin-right: 5px;
  }
  #photo{
    display:initial;
    float: none;
    margin-left:10px ;
    margin-top:10px ;
  }
  #info{
    display: initial;
  }
  #infoperso {
    background-color:#77f; ;
  }

}
