@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  margin-left: 15%;
  background-color: aliceblue;
  padding: 10px;
}

.header {
  width: 100%;
}

.left-header {
  float: left;
  padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.right-header {
  float: right;
}

.name {
  font-weight: bold;
  font-size: 32px;
}

.name-subtitle {
  font-size: 18px;
  color: #333;
}

.infos {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.profile-img {
  float: right;
  margin-left: 10px;
}

.main {
  padding: 10px 20px;
}

.section {
  padding: 5px 10px;
}

.section-title {
  color: #08224c;
  font-size: 24px;
  margin: 10px 5px;
}

.section-content {
  padding: 5px 5px;
}

.subsection {
  padding: 0 0 20px 30px;
}

.subsection-title {
  color: #113877;
  font-size: 18px;
  margin: 0 0 10px 5px;
}

.subsection-content {
  padding-left: 35px;
}

.footer {
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 5px;
}

.facebook-link {
  color: #3b5998;
}

.github-link {
  color: #333;
}

.twitter-link {
  color: #1da1f2;
}

.linkedin-link {
  color: #0077b5;
}

hr {
  border: none;
  height: 1px;
  width: 96%;
  margin: 20px 2%;
  color: #dedede;
  background-color: #dedede;
}

.details {
  font-size: 14px;
  color: #333;
  margin-left: 20px;
}

.display {
  display: inherit;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 2px 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.eval {
  margin-left: 20px;
  color: #ffd700;
}
